<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/comlogo"
        android:label="Seva Hands"
        android:supportsRtl="true"
        android:theme="@style/Theme.SevaHandsVersionOne"
        tools:targetApi="31">
        <activity
            android:name=".AdminSchool"
            android:exported="false" />
        <activity
            android:name=".schools"
            android:exported="false"
            android:label="Supported Schools" />
        <activity
            android:name=".admin_school"
            android:exported="false"
            android:label="Supported Schools" />
        <activity
            android:name=".Counter"
            android:exported="false"
            android:label="Counter" />
        <activity
            android:name=".GalleryAdd"
            android:exported="false"
            android:label="Gallery" />
        <activity
            android:name=".Gallary"
            android:exported="false"
            android:label="Gallery" />
        <activity
            android:name=".EditEventActivity"
            android:exported="false"
            android:label="Edit Event Details" />
        <activity
            android:name=".admin_users"
            android:exported="false" />
        <activity
            android:name=".AddEvents"
            android:exported="false"
            android:label="Event Details" />
        <activity
            android:name=".DashBoard"
            android:exported="false"
            android:label="@string/title_activity_dash_board" />
        <activity
            android:name=".admin_events"
            android:exported="false"
            android:label="Admin Events" />
        <activity
            android:name=".AdminHome"
            android:exported="false"
            android:label="Admin Home" />
        <activity
            android:name=".admin_volunteers"
            android:exported="false"
            android:label="Admin volunteers" />
        <activity
            android:name=".Events"
            android:exported="false"
            android:label="Events" />
        <activity
            android:name=".Services"
            android:exported="false"
            android:label="Services" />
        <activity
            android:name=".Regorg"
            android:exported="false" />
        <activity
            android:name=".Regindiv"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false"
            android:label="Home" />
        <activity
            android:name=".Contact"
            android:exported="false"
            android:label="Contact" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Seva Hands">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>